:root {
  --greenDefault: green;
  --yelloDefault: yellow;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
body {
  background-color: aquamarine;
}
a {
  color: var(--greenDefault);
  cursor: pointer;
}
a :hover {
  color: var(--yelloDefault);
}
h1 {
  color: var(--greenDefault);
}
