:root {
  --blue: #0b0f35;
  --lightBlue: #cee9ff;
  --correctGreen: #43b428;
  --correctGreenBackground: #d0ffc5;
  --errorRed: #ff5353;
  --errorRedBackground: #ffb0b0;
  --gray: #b3b3b3;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
.DisplayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.FlexAlignCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.FlexJustCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.FlexSpaceBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.FlexPower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.FlexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.FlexEnd {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.FlexJustEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.FlexWrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.TransitionPadrao {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  padding: calc(16.000px + 1.250vw) 0;
  font-size: calc(28.000px + 0.625vw);
  color: var(--blue);
}
h2 {
  font-size: calc(21.600px + 0.438vw);
}
h3 {
  font-size: calc(19.000px + 0.313vw);
}
h4 {
  font-size: calc(17.200px + 0.250vw);
  font-weight: var(--regular);
  line-height: 1.5;
}
p {
  font-size: calc(15.600px + 0.125vw);
  line-height: 1.5em;
}
a {
  font-size: calc(15.600px + 0.125vw);
  cursor: pointer;
}
a :hover {
  color: var(--yelloDefault);
}
.btn-default {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: calc(15.600px + 0.125vw);
  color: white;
  background-color: var(--blue);
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-default:hover {
  border-color: var(--blue);
  color: var(--blue);
  background-color: white;
}
.btn-default.disabled-button {
  cursor: auto;
  background-color: var(--gray);
  border: none;
}
.btn-default.disabled-button:hover {
  color: white;
  background-color: #b3b3b3;
}
.toast-message {
  display: block;
  position: fixed;
  padding: 20px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  border-radius: 4px;
  color: white;
}
.toast-message * {
  font-size: 20px;
  line-height: 1.5;
}
.toast-message.success {
  background-color: var(--correctGreen);
}
.toast-message.error {
  background-color: var(--errorRed);
}
.main-header {
  background-color: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px calc(-305.217px + 31.522vw);
  box-shadow: 0 4px 10px #ffffff78;
}
.main-header .header-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header .header-grid .logo-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding-right: calc(-37.826px + 9.783vw);
}
.main-header .header-grid .logo-link img {
  display: block;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.main-header .header-grid ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .header-grid ul li a {
  position: relative;
  display: block;
  width: fit-content;
  color: white;
  font-size: 20px;
}
.main-header .header-grid ul li a::before {
  content: "";
  height: 1px;
  position: absolute;
  background: white;
  width: 0;
  bottom: -2px;
  transition: width 0.2s;
}
.main-header .header-grid ul li a:hover:before {
  width: 30px;
}
.main-header .header-grid ul li:not(:last-child) {
  margin-right: 25px;
}
.main-content {
  position: relative;
  min-height: 80vh;
  margin: 0 calc(-305.217px + 31.522vw);
  margin-top: 110px;
  margin-bottom: calc(20.000px + 3.125vw);
}
.form-default {
  width: 750px;
  padding: 20px 0;
  margin: auto;
}
.form-default label {
  display: none;
}
.form-default input,
.form-default select {
  border: 1px solid var(--blue);
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  margin: 0 0 25px 0;
}
.form-default .radio {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  width: fit-content;
}
.form-default select {
  cursor: pointer;
}
.form-default .error-input {
  font-size: 14px;
  color: var(--errorText);
  margin-top: 3px;
}
.form-default .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 25px;
}
.test-component .no-tests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.test-component form {
  margin-bottom: calc(24.000px + 1.875vw);
}
.test-component .list-test-wrapper .page-subtitle {
  text-align: center;
  margin-bottom: calc(11.000px + 1.250vw);
}
.test-component .list-test-wrapper .list-test {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
}
.test-component .list-test-wrapper .list-test .test {
  border-radius: 4px;
  border: 1px solid var(--blue);
  padding: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.test-component .list-test-wrapper .list-test .test * {
  color: var(--blue);
}
.test-component .list-test-wrapper .list-test .test h3 {
  margin-bottom: 20px;
}
.test-component .list-test-wrapper .list-test .test span {
  font-weight: var(--bold);
}
.test-component .list-test-wrapper .list-test .test .actions {
  padding-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.test-component .list-test-wrapper .list-test .test .actions .btn-default {
  width: fit-content;
  color: white;
}
.test-component .list-test-wrapper .list-test .test .actions .btn-default:not(:last-child) {
  margin-right: 10px;
}
.test-component .list-test-wrapper .list-test .test .actions .btn-default:hover {
  color: var(--blue);
}
.test-component .list-test-wrapper .list-test .test:hover {
  background-color: var(--lightBlue);
}
.perform-test-component .form-default .question-card {
  display: block;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--blue);
}
.perform-test-component .form-default .question-card h3 {
  margin-bottom: 20px;
}
.perform-test-component .form-default .question-card p {
  padding-left: 10px;
}
.perform-test-component .form-default .question-card.hide {
  display: none;
}
.perform-test-component .form-default .question-card:not(:last-child) {
  margin-bottom: 20px;
}
.perform-test-component .form-default .options-list {
  margin-top: 10px;
  padding-left: 15px;
}
.perform-test-component .form-default .options-list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.perform-test-component .form-default .options-list .option:not(:last-child) {
  padding-bottom: 10px;
}
.perform-test-component .form-default .options-list label {
  display: block;
}
.perform-test-component .form-default .button {
  justify-content: space-between;
}
.no-questions-component {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.no-questions-component .actions {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.no-questions-component .actions .btn-default {
  color: white;
}
.no-questions-component .actions .btn-default:not(:last-child) {
  margin-right: 10px;
}
.no-questions-component .actions .btn-default:hover {
  color: var(--blue);
}
.question-component h2 {
  padding: 15px 0;
  text-align: center;
}
.question-component form .question {
  border-radius: 5px;
  border: 1px solid var(--blue);
  padding: 10px;
  margin-bottom: 15px;
}
.question-component form p {
  margin-bottom: 15px;
}
.question-component form .btn-default {
  margin: auto;
  margin-right: 0;
}
.question-component .options-list {
  padding: 15px 0 0 15px;
}
.result-list-component .page-title {
  margin-bottom: 50px;
}
.result-list-component .list-result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 15px;
}
.result-list-component .list-result .result {
  border-radius: 4px;
  border: 1px solid var(--blue);
  padding: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.result-list-component .list-result .result * {
  color: var(--blue);
}
.result-list-component .list-result .result h3 {
  margin-bottom: 20px;
}
.result-list-component .list-result .result span {
  font-weight: var(--bold);
}
.result-list-component .list-result .result .actions {
  padding-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.result-list-component .list-result .result .actions .btn-default {
  width: fit-content;
  color: white;
}
.result-list-component .list-result .result .actions .btn-default:not(:last-child) {
  margin-right: 10px;
}
.result-list-component .list-result .result .actions .btn-default:hover {
  color: var(--blue);
}
.result-list-component .list-result .result:hover {
  background-color: var(--lightBlue);
}
.result-details-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.result-details-component .page-title {
  margin-bottom: 50px;
}
.result-details-component .details {
  max-width: 700px;
  width: 100%;
  margin: auto;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 15px;
}
.result-details-component .details h3 {
  padding-bottom: 20px;
}
.result-details-component .btn-default {
  margin-top: 20px;
  color: white;
}
.result-details-component .btn-default:hover {
  color: var(--blue);
}
.result-details-component .questions-details {
  margin-top: 20px;
}
.result-details-component .questions-details .question {
  border: 1px solid;
  border-radius: 4px;
  padding: 15px;
}
.result-details-component .questions-details .question:not(:last-child) {
  margin-bottom: 25px;
}
.result-details-component .questions-details .question#error {
  background-color: var(--errorRedBackground);
  border-color: var(--errorRed);
}
.result-details-component .questions-details .question#error * {
  color: red;
}
.result-details-component .questions-details .question#correct {
  background-color: var(--correctGreenBackground);
  border-color: var(--correctGreen);
}
.result-details-component .questions-details .question#correct * {
  color: var(--correctGreen);
}
.footer-grid {
  background-color: var(--blue);
  padding-bottom: 20px;
}
.footer-grid * {
  color: white;
}
.footer-grid .footer-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px calc(-305.217px + 31.522vw);
  padding-top: 60px;
}
.footer-grid .footer-content a {
  position: relative;
  display: block;
  width: fit-content;
  color: white;
  font-size: 20px;
}
.footer-grid .footer-content a::before {
  content: "";
  height: 1px;
  position: absolute;
  background: white;
  width: 0;
  bottom: -4px;
  transition: width 0.2s;
}
.footer-grid .footer-content a:hover:before {
  width: 30px;
}
.footer-grid .projeto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-grid .projeto img {
  margin-right: 50px;
  width: 60px;
}
.footer-grid .devers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-grid .devers img {
  width: 30px;
}
.footer-grid .devers h3 {
  margin-bottom: 20px;
}
.footer-grid .devers a {
  display: block;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-grid .devers a img {
  margin-right: 5px;
}
.footer-grid .devers a:before {
  left: 40px;
}
.footer-grid .subfooter {
  text-align: center;
  padding: 5px calc(-305.217px + 31.522vw);
}
